@font-face {
    font-family: 'lobster';
    src: url(/holiday-react/Lobster-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}